body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #334;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-family: "Quicksand";
}

.header-container {
    padding: 0 50px;
}

h1, header nav a {
    margin: auto;
}

header h1 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: lighter;
}

h1 a, header nav a {
    display: inline-block;
    height: 47px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

header a:hover, header a.active {
    border-bottom: 4px solid #c3467f;
}

header nav {
    float: right;
}

header nav a {
    margin: auto 20px;
}

main:not(.home) {
    position: absolute;
    left: 200px;
    top: 50px;
    right: 0;
    margin: 30px;
    z-index: -1;
}

main h1 {
    margin-bottom: 15px;
}

main h1.intro {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

code {
    border-radius: 5px;
    font-family: "SF Mono", Consolas, Menlo, "Liberation Mono", monospace;
}

code span.string {
    color: #c3467f;
}

code span.function {
    color: #4687c3;
}

nav.sidebar {
    background-color: #fff;
    float: left;
    width: 150px;
    height: 100%;
    position: fixed;
    top: 51px;
    padding: 25px;
    padding-top: 30px;
    border-right: 1px dotted #ddd;
    font-size: 0.9em;
}

nav.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}

nav.sidebar a {
    padding: 100px auto;
}

nav.sidebar a:hover {
    text-decoration: underline;
    border-bottom: none;
}

nav.sidebar a.active {
    font-weight: bold;
}
